/* Screen Specific Styling */
@media screen
{
	/* Margins in browser only, printer has its own margins */
	#bodyDiv 
	{ 
		margin-top:2.5em;
		margin-bottom:2.5em;
		margin-right:4em;
		margin-left:4em; 
	}
	
	/* Links */	
	a:link { color: #00DD00; font-weight: bold; }
	a:visited { color: #00AA00; }
	a:hover { color: #00FF00; }

}
@media print
{
	/* Printed Links, no longer look like links */
	a:link, a:hover, a:active, a:visited 
	{ color: black; text-decoration:none;}
}

body { background-color: #000000; }


/* Fonts to use on page*/
#bodyDiv { font-family: Courier New, Courier; color: #00FF00; font-size: 10pt; }

/* Tightly Packed Header */
.reportHeader
{
	margin-top: 0.1em; 
	margin-bottom: 0.1em;
}
h1.reportHeader{ font-size:2.0em; border-bottom: 4px double #00DD00; }

h2 { font-size:1.25em; }

/* OSF Export Table Styles */
table.OSFLists {  width:95%; margin-left: auto; margin-right: auto; border-collapse: collapse;}
td.OSFLists { border: 1px solid #00FF00; padding:0.25em }
th.OSFLists { 	
	border: 1px solid #00FF00;
	padding:0.25em; 
	margin:5px; 
	background-color:#006600; 	
	font-weight: bold;
	color:white;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th.OSFListsTitleCol		{ width:15%; }
th.OSFListsModuleCol 	{ width:15%; }
th.OSFListsFilenameCol { width:25%; }
th.OSFListsNotesCol 		{ width:30%; }
td.OSFListsAddedDateCol { width:15%;  }

td.OSFListsSHA1Col { font-size:80%; }
td.OSFListsSHA256Col { font-size:80%; }
td.OSFListsMD5Col { font-size:80%; }


/* Exported Files Table */
table.OSFFiles {  width:95%; margin-left: auto; margin-right: auto; border-collapse: collapse;}
td.OSFFiles { border: 1px solid #00FF00; padding:0.25em }
th.OSFFiles { 
	border: 1px solid #00FF00;	
	padding:0.25em; 
	margin:5px; 
	background-color:#006600; 
	color:white; 
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th.OSFFilesTitleCol		{ width:15%; }
th.OSFFilesFilenameCol { width:15%; }
th.OSFFilesFilepathCol { width:25%; }
th.OSFFilesNotesCol 		{ width:30%; }
td.OSFFilesAddedDateCol {width:15%;  }

td.OSFFilesSHA1Col { font-size:80%;}
td.OSFFilesSHA256Col { font-size:80%;}
td.OSFFilesMD5Col { font-size:80%;}



/* Exported Attachments Table */
table.OSFAttachments {  width:95%; margin-left: auto; margin-right: auto; border-collapse: collapse;}
td.OSFAttachments { border: 1px solid #00FF00; padding:0.25em }
th.OSFAttachments { 
	border: 1px solid #00FF00;	
	padding:0.25em; 
	margin:5px; 
	background-color:#006600; 
	color:white; 
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th.OSFAttachmentsTitleCol		{ width:15%; }
th.OSFAttachmentsFilenameCol { width:15%; }
th.OSFAttachmentsFilepathCol { width:25%; }
th.OSFAttachmentsNotesCol 		{ width:30%; }
td.OSFAttachmentsAddedDateCol {  width:15%; }

td.OSFAttachmentsSHA1Col { font-size:80%; }
td.OSFAttachmentsSHA256Col { font-size:80%; }
td.OSFAttachmentsMd5Col { font-size:80%; }


/* Exported Notes Table */
table.OSFNotes {  width:95%; margin-left: auto; margin-right: auto; border-collapse: collapse;}
td.OSFNotes { border: 1px solid #00FF00; padding:0.25em }
th.OSFNotes { 
	border: 1px solid #00FF00;	
	padding:0.25em; 
	margin:5px; 
	background-color:#006600; 
	color:white; 
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th.OSFNotesTitleCol		{ width:15%; }
th.OSFNotesFilenameCol { width:15%; }
th.OSFNotesNotesCol 		{ width:55%; }
td.OSFNotesAddedDateCol { width:15%;  }

td.OSFNotesSHA1Col { font-size:80%; }
td.OSFNotesSHA256Col { font-size:80%; }
td.OSFNotesMD5Col { font-size:80%; }



/* Exported Emails Table */
table.OSFEmails {  width:95%; margin-left: auto; margin-right: auto; border-collapse: collapse;}
td.OSFEmails { border: 1px solid #00FF00; padding:0.25em }
th.OSFEmails { 
	border: 1px solid #00FF00;	
	padding:0.25em; 
	margin:5px; 
	background-color:#006600; 
	color:white; 
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th.OSFEmailsTitleCol		{ width:25%; }
th.OSFEmailsFilenameCol { width:20%; }
th.OSFEmailsNotesCol 		{ width:40%; }
td.OSFEmailsAddedDateCol { width:15%;  }

td.OSFEmailsSHA1Col { font-size:80%; }
td.OSFEmailsSHA256Col { font-size:80%; }
td.OSFEmailsMD5Col { font-size:80%; }


/* Yellow Bookmars Table */
table.OSFBookmarksYellow {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFBookmarksYellow { border: 1px solid #00FF00; padding:0.25em  }

th.OSFBookmarksYellow 
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#FFFF00;  
	color:black;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		


th.OSFBookmarksYellowTitleCol			{ width:15%; }
th.OSFBookmarksYellowModuleCol 		{ width:15%; }
th.OSFBookmarksYellowFilenameCol 	{ width:30%; }
th.OSFBookmarksYellowNotesCol 		{ width:25%; }
th.OSFBookmarksYellowAddedDateCol { width:15%; }

/* Green Bookmars Table */
table.OSFBookmarksGreen {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFBookmarksGreen {  border: 1px solid #00FF00; padding:0.25em }


th.OSFBookmarksGreen
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#00FF00; 
	color:black;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		


th.OSFBookmarksGreenTitleCol		{ width:15%; }
th.OSFBookmarksGreenModuleCol 	{ width:15%; }
th.OSFBookmarksGreenFilenameCol { width:30%; }
th.OSFBookmarksGreenNotesCol 		{ width:25%; }
th.OSFBookmarksGreenAddedDateCol { width:15%; }

/* Red Bookmars Table */
table.OSFBookmarksRed {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFBookmarksRed {  border: 1px solid #00FF00; padding:0.25em  }


th.OSFBookmarksRed 
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#FF0000; 
	color:black;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
	

th.OSFBookmarksRedTitleCol		{ width:15%; }
th.OSFBookmarksRedModuleCol 	{ width:15%; }
th.OSFBookmarksRedFilenameCol { width:30%; }
th.OSFBookmarksRedNotesCol 		{ width:25%; }
th.OSFBookmarksRedAddedDateCol { width:15%; }

/* Exported Undelete Table */
table.OSFUndelete {  width:95%; margin-left: auto; margin-right: auto; border-collapse: collapse;}
td.OSFUndelete { border: 1px solid #00FF00; padding:0.25em }
th.OSFUndelete { 
	border: 1px solid #00FF00;	
	padding:0.25em; 
	margin:5px; 
	background-color:#006600; 
	color:white; 
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th.OSFUndeleteTitleCol		{ width:15%; }
th.OSFUndeleteFilenameCol { width:15%; }
th.OSFUndeleteFilepathCol { width:25%; }
th.OSFUndeleteNotesCol 		{ width:30%; }
td.OSFUndeleteAddedDateCol { width:15%;}

td.OSFUndeleteSHA1Col { font-size:80%; }
td.OSFUndeleteSHA256Col { font-size:80%; }
td.OSFUndeleteMD5Col { font-size:80%; }

/* WebSnapshots Table */
table.OSFWebSnapshots {  width:95%; margin-left: auto; margin-right: auto; border-collapse: collapse;}
td.OSFWebSnapshots { border: 1px solid #00FF00; padding:0.25em }
th.OSFWebSnapshots { 
	border: 1px solid #00FF00;	
	padding:0.25em; 
	margin:5px; 
	background-color:#006600; 
	color:white; 
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th.OSFWebSnapshotsTitleCol		{ width:15%; }
th.OSFWebSnapshotsFilenameCol { width:15%; }
th.OSFWebSnapshotsFilepathCol { width:25%; }
th.OSFWebSnapshotsNotesCol 		{ width:30%; }
td.OSFWebSnapshotsAddedDateCol { width:15%;}

td.OSFWebSnapshotsSHA1Col { font-size:80%; }
td.OSFWebSnapshotsSHA256Col { font-size:80%; }
td.OSFWebSnapshotsMD5Col { font-size:80%; }

/* TableSorter Styles */
th.headerSortUp { 
  background-image: url(desc.gif); 
  background-color: #009900; 
}
th.headerSortDown { 
  background-image: url(asc.gif); 
  background-color: #009900; 
}		

.customHeader
{
	display: none;
}
.customFooter
{
	display: none;
}