Terry,<div><br></div><div>Thanks for the quick response.  I&#39;ll talk to you tonight.</div><div><br></div><div>Thanks,</div><div><br></div><div>Aaron<br><br><div class="gmail_quote">On Mon, Nov 30, 2009 at 10:00 AM, Terry Johnson <span dir="ltr">&lt;<a href="mailto:t93940@gmail.com">t93940@gmail.com</a>&gt;</span> wrote:<br>
<blockquote class="gmail_quote" style="margin:0 0 0 .8ex;border-left:1px #ccc solid;padding-left:1ex;">





<div bgcolor="#ffffff">
<div><font size="2" face="Arial">Aaron,</font></div>
<div><font size="2" face="Arial"></font> </div>
<div><font size="2" face="Arial">The computer is still available.  I&#39;ll give 
you a call later this afternoon with directions to my place.  Talk to you 
soon.</font></div>
<div><font size="2" face="Arial"></font> </div><font color="#888888">
<div><font size="2" face="Arial">- Terry</font></div></font><div><div></div><div class="h5">
<div><font size="2" face="Arial"></font> </div>
<blockquote style="border-left:#000000 2px solid;padding-left:5px;padding-right:0px;margin-left:5px;margin-right:0px" dir="ltr">
  <div style="font:10pt arial">----- Original Message ----- </div>
  <div style="font:10pt arial;background:#e4e4e4"><b>From:</b> 
  <a title="aarongreene12@gmail.com" href="mailto:aarongreene12@gmail.com" target="_blank">Aaron 
  Greene</a> </div>
  <div style="font:10pt arial"><b>To:</b> <a title="t93940@gmail.com" href="mailto:t93940@gmail.com" target="_blank">t93940@gmail.com</a> </div>
  <div style="font:10pt arial"><b>Sent:</b> Monday, November 30, 2009 9:45 
  AM</div>
  <div style="font:10pt arial"><b>Subject:</b> Dell Computer For Sale - $1000 
  (USA)</div>
  <div><br></div><span style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:13px">
  <p>Hi,</p>
  <p>Is the computer still available? I am extremely interested 
  in the computer for sale. Please contact me at 831-555-5432 if you need to 
  give me a call. I will be off at work at 5 tonight to check out the 
  computer.</p>
  <p>Thanks,</p>
  <p>Aaron</p></span></blockquote></div></div></div>
</blockquote></div><br></div>

