<p>Confirmation for Posting ID# 1499149791</p><p>Your ad, titled 'Dell 17" Monitor' has been posted as follows:<p><a href="http://monterey.craigslist.org/sys/1499149791.html">http://monterey.craigslist.org/sys/1499149791.html (computers & tech)</a><br>
<p>Posts will appear in the list of postings and in search results in about 15 minutes.</p><p>If you have trouble finding your ad, please check our help page:</br><a href="http://www.craigslist.org/about/help/how_to_find_your_post_in_the_listings">[?]</a></p><p>Please log in into your account if you need to edit or delete your posting:<br>
			<a href="https://accounts.craigslist.org/login">https://accounts.craigslist.org/login</a><br><br><br> If you did not post this ad please change your account password asap:<br>
			<a href="https://accounts.craigslist.org/login/chgpwd">https://accounts.craigslist.org/login/chgpwd</a> </p><p>  <a href="http://www.craigslist.org/about/scams.html">For your protection please check our list of common scams.</a></p><p>Thanks for using craigslist!</p>

