/* Screen Specific Styling */
@media screen
{
	/* Margins in browser only, printer has its own margins */
	#bodyDiv 
	{ 
		margin-top:2.5em;
		margin-bottom:2.5em;
		margin-right:4em;
		margin-left:4em; 
	}
	
	/* Links */
	a:link, a:hover, a:active { color: blue; }
	a:visited { color: purple; }
}
@media print
{
	/* Printed Links, no longer look like links */
	a:link, a:hover, a:active, a:visited 
	{ color: black; text-decoration:none;}
}

/* Fonts to use on page*/
#bodyDiv { font-family: Tahoma, Verdana, sans-serif; color:black; font-size: 0.9em; }

/* Tightly Packed Header */
.reportHeader
{
	margin-top: 0.1em; 
	margin-bottom: 0.1em; 
}
h1.reportHeader
{
	font-size: 2.8em;
	font-weight: normal;
	border-bottom: 4px solid #A3A3A3;
}

h2 { 
	font-size:2em; 
	color: #333;
	font-family: Tahoma, "Sans Serif";
	line-height: 30px;
	font-style: normal; 
	font-weight: normal;
	border-bottom: 4px solid #E3E3E3;
}

/* OSF Export Table Styles */
table.OSFLists {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFLists {	padding:0.25em 
}
tr.OSFLists 
{
	background-color: #DEDEDE;
}
tr:hover.OSFLists 
{
	background-color: #EFEFEF;
}
th.OSFLists 
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#65a01f; 
	color:white;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th:hover.OSFLists {	
	background-color:#85C03f; 
}		
th.OSFListsTitleCol		{ width:15%; }
th.OSFListsModuleCol 	{ width:15%; }
th.OSFListsFilenameCol { width:25%; }
th.OSFListsNotesCol 		{ width:30%; }
td.OSFListsAddedDateCol { width:15%;  }

td.OSFListsSHA1Col { font-size:80%; }
td.OSFListsSHA256Col { font-size:80%; }
td.OSFListsMD5Col { font-size:80%; }


/* Exported Files Table */
table.OSFFiles {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFFiles { padding:0.25em }
tr.OSFFiles 
{
	background-color: #DEDEDE;
}
tr:hover.OSFFiles
{
	background-color: #EFEFEF;
}
th.OSFFiles 
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#65a01f; 
	color:white;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th:hover.OSFFiles {		
	background-color: #75B02f;
}		


th.OSFFilesTitleCol		{ width:15%; }
th.OSFFilesFilenameCol { width:15%; }
th.OSFFilesFilepathCol { width:25%; }
th.OSFFilesNotesCol 		{ width:30%; }
td.OSFFilesAddedDateCol {  width:15%;  }

td.OSFFilesSHA1Col { font-size:80%;}
td.OSFFilesSHA256Col { font-size:80%;}
td.OSFFilesMD5Col { font-size:80%;}



/* Exported Attachments Table */
table.OSFAttachments {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFAttachments { padding:0.25em }
tr.OSFAttachments 
{
	background-color: #DEDEDE;
}
tr:hover.OSFAttachments
{
	background-color: #EFEFEF;
}
th.OSFAttachments 
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#65a01f; 
	color:white;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th:hover.OSFAttachments {		
	background-color: #75B02f;
}		

td.OSFAttachmentsSHA1Col { font-size:80%; }
td.OSFAttachmentsSHA256Col { font-size:80%; }
td.OSFAttachmentsMD5Col { font-size:80%; }



/* Exported Notes Table */
table.OSFNotes {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFNotes { padding:0.25em }
tr.OSFNotes 
{
	background-color: #DEDEDE;
}
tr:hover.OSFNotes
{
	background-color: #EFEFEF;
}
th.OSFNotes 
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#65a01f; 
	color:white;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th:hover.OSFNotes {		
	background-color: #75B02f;
}		

td.OSFNotesSHA1Col { font-size:80%; }
td.OSFNotesSHA256Col { font-size:80%; }
td.OSFNotesMD5Col { font-size:80%; }


th.OSFNotesTitleCol		{ width:15%; }
th.OSFNotesFilenameCol { width:15%; }
th.OSFNotesNotesCol 		{ width:55%; }
td.OSFNotesAddedDateCol { width:15%;  }

/* Exported Emails Table */
table.OSFEmails {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFEmails { padding:0.25em }
tr.OSFEmails 
{
	background-color: #DEDEDE;
}
tr:hover.OSFEmails
{
	background-color: #EFEFEF;
}
th.OSFEmails 
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#65a01f; 
	color:white;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th:hover.OSFEmails {		
	background-color: #75B02f;
}		

th.OSFEmailsTitleCol			{ width:25%; }
th.OSFEmailsFilenameCol 	{ width:20%; }
th.OSFEmailsNotesCol 		{ width:40%; }
th.OOSFEmailsAddedDateCol { width:15%; }

td.OSFEmailsSHA1Col { font-size:80%; }
td.OSFEmailsSHA256Col { font-size:80%; }
td.OSFEmailsMD5Col { font-size:80%; }


/* Yellow Bookmars Table */
table.OSFBookmarksYellow {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFBookmarksYellow { padding:0.25em }
tr.OSFBookmarksYellow 
{
	background-color: #DEDEDE;
}
tr:hover.OSFBookmarksYellow
{
	background-color: #EFEFEF;
}
th.OSFBookmarksYellow 
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#FFFF00; 
	color:black;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th:hover.OSFBookmarksYellow {		
	background-color: #75B02f;
}		

th.OSFBookmarksYellowTitleCol			{ width:15%; }
th.OSFBookmarksYellowModuleCol 		{ width:15%; }
th.OSFBookmarksYellowFilenameCol 	{ width:35%; }
th.OSFBookmarksYellowNotesCol 		{ width:20%; }
th.OSFBookmarksYellowAddedDateCol { width:15%; }

/* Green Bookmars Table */
table.OSFBookmarksGreen {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFBookmarksGreen { padding:0.25em }
tr.OSFBookmarksGreen 
{
	background-color: #DEDEDE;
}
tr:hover.OSFBookmarksGreen
{
	background-color: #EFEFEF;
}
th.OSFBookmarksGreen
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#00FF00; 
	color:black;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th:hover.OSFBookmarksGreen {		
	background-color: #75B02f;
}		

th.OSFBookmarksGreenTitleCol		{ width:15%; }
th.OSFBookmarksGreenModuleCol 	{ width:15%; }
th.OSFBookmarksGreenFilenameCol { width:35%; }
th.OSFBookmarksGreenNotesCol 		{ width:20%; }
th.OSFBookmarksGreenAddedDateCol { width:15%; }

/* Red Bookmars Table */
table.OSFBookmarksRed {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFBookmarksRed { padding:0.25em }
tr.OSFBookmarksRed 
{
	background-color: #DEDEDE;
}
tr:hover.OSFBookmarksRed
{
	background-color: #EFEFEF;
}
th.OSFBookmarksRed 
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#FF0000; 
	color:black;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th:hover.OSFBookmarksRed {		
	background-color: #75B02f;
}		

th.OSFBookmarksRedTitleCol			{ width:15%; }
th.OSFBookmarksRedModuleCol 		{ width:15%; }
th.OSFBookmarksRedFilenameCol 	{ width:35%; }
th.OSFBookmarksRedNotesCol 			{ width:20%; }
th.OSFBookmarksRedAddedDateCol 	{ width:15%; }

/* Exported Undelete Table */
table.OSFUndelete {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFUndelete { padding:0.25em }
tr.OSFUndelete 
{
	background-color: #DEDEDE;
}
tr:hover.OSFUndelete
{
	background-color: #EFEFEF;
}
th.OSFUndelete 
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#65a01f; 
	color:white;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th:hover.OSFUndelete {		
	background-color: #75B02f;
}		

td.OSFUndeleteSHA1Col { font-size:80%; }
td.OSFUndeleteSHA256Col { font-size:80%; }
td.OSFUndeleteMD5Col { font-size:80%; }

/* WebSnapshots Table */
table.OSFWebSnapshots {  width:95%; margin-left: auto; margin-right: auto; }
td.OSFWebSnapshots { padding:0.25em }
tr.OSFWebSnapshots 
{
	background-color: #DEDEDE;
}
tr:hover.OSFWebSnapshots
{
	background-color: #EFEFEF;
}
th.OSFWebSnapshots 
{	
	padding:0.25em; 
	margin:0px;
	border-top: 2px solid #95D04f;
	border-left: 2px solid #95D04f;
	border-right: 1px solid #45800f;
	border-bottom: 2px solid #45800f;
	background-color:#65a01f; 
	color:white;
	cursor: pointer;
	background-image: url(ascdescbg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}		
th:hover.OSFWebSnapshots {		
	background-color: #75B02f;
}		

td.OSFWebSnapshotsSHA1Col { font-size:80%; }
td.OSFWebSnapshotsSHA256Col { font-size:80%; }
td.OSFWebSnapshotsMD5Col { font-size:80%; }


th.OSFAttachmentsTitleCol			{	width:15%; }
th.OSFAttachmentsFilenameCol 	{ width:15%; }
th.OSFAttachmentsFilepathCol 	{ width:25%; }
th.OSFAttachmentsNotesCol 		{ width:30%; }
td.OSFUndeleteAddedDateCol 		{ width:15%; }

/* TableSorter Styles */
th.headerSortUp { 
  background-image: url(desc.gif); 
  background-color:#85C03f;
}
th.headerSortDown { 
  background-image: url(asc.gif); 
  background-color:#85C03f;
}		

.customHeader
{
	background-color: #EEEEEE;
}
.customFooter
{
	margin-top: 3em;
	border-top: 4px solid #A3A3A3;
	text-align: right;
}