<font color='black' size='2' face='arial'><font size="2"><font face="Arial, Helvetica, sans-serif">Charlie<br>
So when does the new car arrive?&nbsp; That sucks that the dealer didn't have the one you wanted in stock.&nbsp; I hope it isn't too long of a wait.<br>
<br>
Rub<br>
</font></font></font>
